[submodule "Submodule-of-SecureSpark"]
	path = Submodule-of-SecureSpark
	url = https://github.com/tsinghua-ideal/Submodule-of-SecureSpark
[submodule "incubator-teaclave-sgx-sdk"]
	path = incubator-teaclave-sgx-sdk
	url = https://github.com/AmbitionXiang/incubator-teaclave-sgx-sdk
